[submodule "coq-src"]
	path = coq-src
	url = https://github.com/coq/coq.git
[submodule "ocaml-src"]
	path = ocaml-src
	url = https://github.com/ocaml/ocaml.git
[submodule "lzmaSDK"]
	path = lzmaSDK
	url = git@github.com:keigoi/lzmaSDK.git
